img{
    height:100px;
    width:100px;
    text-align:center;
}
body {
    min-height: 2000px;
    padding-top: 70px;

}

.font{
 font-family: 'Pacifico','serif'

}
.btn-info:hover {
    color: #fff;
    background-color: #81d8d0;
    border-color: #269abc;
}
.btn-info {
    color: #fff;
    background-color: lightcoral;
    /* border-color: #46b8da; */
}

.right{
    float:right;
}
.item{
    height:350px;
    width:350px;
    display:inline-block;
    margin-left:2%;
    margin-top:2%;

}

.item.description{
    height:350px;
    width:350px;
    display:inline-block;
    margin-left:36%;
    margin-top:2%;
}

.name{
    font-size: 25px;
}

.price{
    font-size:15px;
}