<!--AAAAAAAAAAAHHHHHHHHHHHHHHH testttttttttttttttttttttttttttttt-->




<div class="container">
            <div >
                <div data-ng-repeat="item in productsBought track by $index">

                    <h1 class="name">{{item.name | uppercase}}</h1>
                    <img data-ng-src={{item.image}}>
                    <h2 class="price"> Price : {{item.price |currency }}</h2>

                    <!--<span>{{item.name}}</span>-->
                    <!--<br>-->
                    Quantity: <span>{{item.quantity}}</span>
                    <br>
                    <!--Price :-->
                    <!--<span>{{item.price | currency}}</span><br />-->
                    <!--<br>-->
                    Total : <span>{{item.price * item.quantity | currency }}</span><br />
                    <button ng-click="removeItem($index)">Remove</button>
                    <hr />
                </div>
            </div>



            <!--<div class="panel panel-primary">-->
            <div id="divTotal" class="panel-heading">
                <h3 class="panel-title">Total  : {{total}}</h3>
            </div>

        <!--</div>-->
    <button type="button" class="btn btn-danger" data-ng-click="removeAllProducts()">Checkout</button>



</div>