<!--AAAAAAAAAAAHHHHHHHHHHHHHHH testttttttttttttttttttttttttttttt-->




<div class="container">
            <div >
                <h1>Your Shopping Cart has {{itemsBought}} items</h1><hr />
                <div data-ng-repeat="item in productsBought">
                    <span>{{item.name}}</span>
                    Quantity: <input type="number" ng-model="item.quantity"/><br />
                    Price :
                    <span>{{item.price | currency}}</span><br />
                    Total : <span>{{item.price * item.quantity | currency}}</span><br />
                    <button ng-click="remove($index)">Remove</button>
                    <hr />
                </div>
            </div>




            <div class="panel panel-primary">
            <div id="divTotal" class="panel-heading">
                <h3 class="panel-title">Total</h3>
            </div>
            <div class="panel-body">
                <h2>Result:{{item.price * item.quantity | currency}} </h2>
            </div>
        </div>




</div>