<div class="container">
<span>
Search <input type="text" data-ng-model="filterByName">
    <span class="right">{{itemsBought}} items, {{total}}$</span>

</span>
    <br>
    <br>
    <div  class="item"  data-ng-repeat="product in products | filter: {name:filterByName} ">
        <h1 class="name">{{product.name | uppercase}}</h1>
        <img data-ng-src="{{product.image}}">
        <h2 class="price"> Price : {{product.price}}</h2>

        <a href="#/{{product.id}}">Show Description</a>
        <br>
        <br>
        <form >

            <input class="btn btn-info" type = "submit" value = "Add to cart" data-ng-click = "addProduct(product)">
        </form>


    </div>
</div>