<div class="container description">

    <div  class="item description"  >
        <h1 class="name">Product Name:{{selectedProduct.name | uppercase}}</h1>
        <img data-ng-src="{{selectedProduct.image}}">
        <h2 class="price"> Price : {{selectedProduct.price}}</h2>
        <p>Color:{{selectedProduct.color}}</p>
        <p>{{selectedProduct.releaseDate}}</p>
        <p>{{selectedProduct.description}}</p>
        <p> Stock : {{selectedProduct.stock}}</p>
        <button  class="btn btn-success">Add to cart</button>
    </div>
</div>

