<div class="container">
<span>
Search <input type="text">
    <span class="right">{{itemsBought}} items, 0$</span>

</span>
    <br>
    <br>
    <div  class="item"  data-ng-repeat="product in products">
        <h1 class="name">{{product.name | uppercase}}</h1>
        <img data-ng-src="{{product.image}}">
        <h2 class="price"> Price : {{product.price}}</h2>

        <a href="#/{{product.id}}">Show Description</a>
        <br>
        <br>
        <form >

            <input class="btn btn-success" type = "submit" value = "Add to cart" data-ng-click = "addProduct(product)">
        </form>

        <!--<button data-ng-show="product.canPurchase" class="btn btn-success" data-ng-click="addProduct()">Add to cart</button>-->
    </div>
</div>